@import models.construct.HCT
@(hcts: List[HCT])

@main(){
  @views.html.header.render
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" >
      @views.html.left.render
      </div><!--col-md-2 -->
      <div class="col-md-10">
          <!--画面内容-->
        <div class="content-box-large min-height">
          <div class="content-box-large">
              <div class="col-sm-12">
                <button type="button" class="btn btn-primary pull-right"
                onClick="location.href='/teacher/homework/add'">
                  布置作业
                </button>
              </div>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-1">教师ID</th>
                    <th>教师名字</th>
                    <th class="col-sm-1">课程ID</th>
                    <th>课程名字</th>
                    <th class="col-sm-1">作业ID</th>
                    <th>作业名字</th>
                    <th>时间</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                @for(hct <-hcts) {
                  <tr>
                    <input type="hidden" value="@hct.getId" disabled="disabled">
                    <td>@hct.getTeacherId</td>
                    <td>@hct.getTeacherName</td>
                    <td>@hct.getCourseId</td>
                    <td>@hct.getCourseName</td>
                    <td>@hct.getId</td>
                    <td>@hct.getName</td>
                    <td>@hct.getDate</td>
                    <td class="text-right">
                      <button type="button" class="btn btn-warning"
                      onClick="location.href ='@routes.Assets.versioned(hct.getPath)'">
                        作业下载
                      </button>
                      <button type="button" class="btn btn-danger"
                      onClick="location.href='/teacher/homework/del/@hct.getId'">
                          删除
                      </button>
                    </td>
                  </tr>
                }
                </tbody>
              </table>
          </div><!--content-box-large-->
        </div><!--content-box-large min-height-->
      </div><!--col-md-10 -->
    </div><!--row-->
  </div><!--container-fluid-->
}
