@()

@main(){
  @views.html.header.render
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" >
      @views.html.left.render
      </div><!--col-md-2 -->
      <div class="col-md-9">
          <!--画面内容-->
        <div class="content-box-large min-height">
            <div class="content-box-large">
              <form name="listCarriage" action="/manage/fril/carriage/list" method="get">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-primary pull-right"
                  onClick="location.href='/manage/fril/carriage/add'">
                    追加
                  </button>
                </div>
                @*<table class="table table-striped table-hover">*@
                  @*<thead>*@
                    @*<tr>*@
                      @*<th class="col-sm-1">ID</th>*@
                      @*<th>名前</th>*@
                      @*<th>状態</th>*@
                      @*<th></th>*@
                    @*</tr>*@
                  @*</thead>*@
                  @*<tbody>*@
                  @*@for(mstFrilCarriage <-carriageList){*@
                    @*<tr>*@
                      @*<input type="hidden" value="@mstFrilCarriage.getSortId" disabled="disabled">*@
                      @*<td>@mstFrilCarriage.getId</td>*@
                      @*<td>@mstFrilCarriage.getName</td>*@
                      @*<td>@if(mstFrilCarriage.getIsValid == 1){有効} else {無効}</td>*@
                      @*<td class="text-right">*@
                        @*<button type="button" class="btn btn-primary"*@
                        @*onClick="location.href='/manage/fril/carriage/update/@mstFrilCarriage.getId'">*@
                          @*変更*@
                        @*</button>*@
                      @*</td>*@
                    @*</tr>*@
                  @*}*@
                  @*</tbody>*@
                @*</table>*@
              </form>
            </div><!--content-box-large-->
        </div><!--content-box-large min-height-->
      </div><!--col-md-10 -->
    </div><!--row-->
  </div><!--container-fluid-->
}
