@import helper._
@import models.construct.CT
@(hId: Long, hName: String)

@main() {
  @views.html.student.header.render
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" >
      @views.html.student.left.render
      </div>
      <div class="col-md-10">
          <!--画面内容-->
        <div class="content-box-large min-height">
          <div class="content-box-large">
            <form class="form-horizontal" enctype="multipart/form-data" action="/student/score/save"
            name="putupFrom" method="post" onSubmit="return submitClick();">
              @CSRF.formField
              <div class="form-group">
                <label class="col-sm-2 control-label">教师作业ID<br></label>
                <div class="col-sm-3">
                  <input class="form-control" name="hId" id="hId" value="@hId" type="hidden">
                  <input class="form-control" value="@hId" disabled="disabled">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">教师作业名字<br></label>
                <div class="col-sm-3">
                  <input class="form-control" name="hname" id="hname" value="@hName" disabled="disabled">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">上传作业文件<br></label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type="file" id="file_input" name="file_input" style="display: none;">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" onclick="$('#file_input').click();">
                        <i class="glyphicon glyphicon-folder-open"></i>
                      </button>
                    </span>
                    <input id="dummy_file" name="dummy_file" type="text" class="form-control"
                    placeholder="select file..." disabled>
                    <script type="text/javascript">
                            $(function () {
                              $('#file_input').change(function () {
                                $('#dummy_file').val($(this).val());
                                $("#error").html("");
                              });
                            });

                            function submitClick() {
                              if (!$("#file_input").val()) {
                                $("#error").html("<span class='text-danger'><h4><b>请上传作业文件</b></h4></span>");
                                return false;
                              }
                              $('#putupFrom').submit();
                            }
                    </script>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-5">
                  <button type="submit" name="submit" id="submit" class="btn btn-primary"
                  data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> 上传中...">
                    作业提交
                  </button>
                  <div id="error"></div>
                </div><!-- col-sm-3 -->
              </div>
            </form>
          </div><!--content-box-large-->
        </div><!--content-box-large min-height-->
      </div><!--col-md-10 -->
    </div><!--row-->
  </div>
}
