@import models.construct.CT
@(cts: List[CT])

@main(){
  @views.html.header.render
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" >
      @views.html.left.render
      </div><!--col-md-2 -->
      <div class="col-md-10">
          <!--画面内容-->
        <div class="content-box-large min-height">
          <div class="content-box-large">
              <div class="col-sm-12">
                <button type="button" class="btn btn-primary pull-right"
                onClick="location.href='/teacher/course/add'">
                  追加选课
                </button>
              </div>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-1">教师ID</th>
                    <th>教师名字</th>
                    <th class="col-sm-1">课程ID</th>
                    <th>课程名字</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                @for(ct <-cts) {
                  <tr>
                    <input type="hidden" value="@ct.getId" disabled="disabled">
                    <td>@ct.getTeacherId</td>
                    <td>@ct.getTeacherName</td>
                    <td>@ct.getCourseId</td>
                    <td>@ct.getCourseName</td>
                    <td class="text-right">
                      <button type="button" class="btn btn-danger"
                      onClick="location.href='/teacher/course/del/@ct.getId'">
                          删除
                      </button>
                    </td>
                  </tr>
                }
                </tbody>
              </table>
          </div><!--content-box-large-->
        </div><!--content-box-large min-height-->
      </div><!--col-md-10 -->
    </div><!--row-->
  </div><!--container-fluid-->
}
