<div class="sidebar content-box" >
  @if("admin".equals(session.get("type"))) {
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">管理员管理</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="/admin/student/list"><i class="glyphicon glyphicon-user"></i>学生管理</a></li>
            <li class="current"><a href="/admin/teacher/list"><i class="glyphicon glyphicon-user"></i>教师管理</a></li>
            <li class="current"><a href="/admin/course/list"><i class="glyphicon glyphicon-calendar"></i>课程管理</a></li>
          </ul>
        </div>
      </div>
  }
  @if("teacher".equals(session.get("type"))) {
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">教师管理</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="current"><a href="/teacher/course/list"><i class="glyphicon glyphicon-user"></i>选课管理</a></li>
            <li class="current"><a href="/teacher/homework/list"><i class="glyphicon glyphicon-user"></i>作业管理</a></li>
            <li class="submenu">
              <a href="#" >
                <i class="glyphicon glyphicon-calendar"></i>
                作业成绩管理 <b class="caret"></b>
              </a>
              <ul>
                <li><a href="/teacher/score/list">作业成绩一览</a></li>
                <li><a href="/teacher/score/add">作业成绩录入</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  }
  @if("student".equals(session.get("type"))) {
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">学生管理</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="current"><a href="/student/course/list"><i class="glyphicon glyphicon-user"></i>选课管理</a></li>
          <li class="submenu">
            <a href="#" >
              <i class="glyphicon glyphicon-calendar"></i>
              作业管理 <b class="caret"></b>
            </a>
            <ul>
              <li><a href="/student/score/list">作业成绩一览</a></li>
              <li><a href="/student/score/add">上传作业</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  }


</div>
