<div class="sidebar content-box" >
  <ul class="nav">
    @if("admin".equals(session.get("type"))) {
      <h3>管理员管理</h3>
      <li class="current"><a href="/manage/messagelist"><i class="glyphicon glyphicon-user"></i>学生管理</a></li>
      <li id="60"><a href="/manage/manageMyProfile"><i class="glyphicon glyphicon-user"></i>教师管理</a></li>
      <li class="submenu" id="20">
        <a href="#">
          <i class="glyphicon glyphicon-calendar"></i> 课程管理
          <span class="caret pull-right"></span>
        </a>
        <ul>
          <li id="21"><a href="/manage/messagelist">课程一览1</a></li>
          <li id="22"><a href="/manage/message/send"> 课程一览2</a></li>
        </ul>
      </li>
    }
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var li = $("#menu").val();
    var ul = Math.floor(li/10%10)*10;
    $("#"+li).addClass("current");
    $("#"+ul).addClass("open");
  });
</script>