@(loginForm: Form[views.form.LoginForm],msg:String)

@main() {
  <style>
  a:link {
    color:#9d9d9d;
    text-decoration:none;
  }
  a:visited {
    color:#9d9d9d;
    text-decoration:none;
  }
  a:hover {
    color:white;
    text-decoration:none;
  }
  a:active {
    color:#9d9d9d;
    text-decoration:none;
  }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand" href="#">
      <a href="/login">@Messages("title.default")</a>
    </div>
    <div class="navbar-right pull-right">
      <ul class="nav navbar-nav">
        <li style="display: -webkit-inline-box;"><a href="/">教师端登录</a></li>
        <li style="display: -webkit-inline-box;"><a href="/">学生端登录</a></li>
        <li style="display: -webkit-inline-box;"><a href="/">管理员登录</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="col-md-10 col-md-offset-2">
      <h2>@Messages("title.default")</h2>
    </div>

    <div class="col-md-5 col-md-offset-3">
      <form name="" action="/login" method="POST">
        @defining(loginForm("name")) { field =>
          @if(field.hasErrors) {
            <div class="form-group has-error has-feedback">
              <label>用户名</label>
              <input type="text" id="@field.id" name="@field.name" class="form-control" value="@field.value" placeholder="用户名" tabindex="1">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span class="text-danger">
              @for(error <- field.errors) {
                @error.message
              }
              </span>
            </div><!-- form-group -->
          } else {
            <div class="form-group">
              <label>用户名</label>
              <input type="email" id="@field.id" name="@field.name" class="form-control" value="@field.value" placeholder="用户名" tabindex="1">
            </div><!-- form-group -->
          }
        }

        @defining(loginForm("password")) { field =>
          @if(field.hasErrors) {
            <div class="form-group has-error has-feedback">
              <label>密码</label>
              <input type="password" id="@field.id" name="@field.name" class="form-control" value="@field.value" placeholder="密码" tabindex="2">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span class="text-danger">
              @for(error <- field.errors) {
                @error.message
              }
              </span>
            </div><!-- form-group -->
          } else {
            <div class="form-group">
              <label>密码</label>
              <input type="password" name="@field.name" id="@field.id" value="@field.value" class="form-control" placeholder="密码" tabindex="2">
            </div>
          }
        }
        <button type="submit" class="btn btn-default" tabindex="3">登录</button>
        <span class="text-success"><h4><b>@msg</b></h4></span>
      </form>
    </div>
  </div>

}